html,
body {
    height: 100%;
    min-height: 100%;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'opensans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.35;
    color: #243342;
    font-weight: normal;
    font-size: 100%;

}
body{
    background-color: #fff;
    background-image: url("../imagens/bg-header.png");
    background-repeat: no-repeat;
    background-position: top right;
}
@media (max-width: 992px) {

    html,
    body {
        font-size: 95%
    }
}

@media (max-width: 768px) {

    html,
    body {
        font-size: 93%
    }
}

html > div {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                       supported by Chrome and Opera */
}



a {
    color: #1383C4;
    text-decoration: none
}

a:hover,
a:focus {
    color: #80ccfa;
    text-decoration: underline
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a.nounderline {
    text-decoration: none !important
}

p {
    font-size: 1rem;
    letter-spacing: -0.01rem;
    margin: 0 0 .5em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 .h6 {
    font-family: 'opensans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -0.03em;
    margin: 0 0 .25em 0;
    line-height: 1.3em;
    font-weight: 700
}

h1,
.h1 {
    font-size: 2.441rem;
    line-height: 1.1em
}

h2,
.h2 {
    font-size: 1.953rem;
    line-height: 1.2em
}

h3,
.h3 {
    font-size: 1.563rem;
    line-height: 1.2em
}

h4,
.h4 {
    font-size: 1.25rem;
    line-height: 1.3em
}

h5,
.h5 {
    font-size: 1rem;
    line-height: 1.3em;
    font-weight: 700
}

h6,
.h6 {
    font-size: 1rem;
    line-height: 1.3em
}

small,
.font_small {
    font-size: .8rem
}



@font-face {
    font-family: 'opensans';
url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
url('../fonts/OpenSans-Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'opensans';
url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'opensans';
url('../fonts/OpenSans-Light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

.img-adaptative{max-width:100%;height:auto}